/*基础功能、期望功能*/
header {
    height: var(--navbar-height);
    width: 100%;
}
header * {
    font-family: "Popins", sans-serif;
}
header .logo {
    width: var(--navbar-height);
    height: var(--navbar-height);
}

header h1 {
    font-size: var(--title-font-size);
    color: var(--plain-color)
}
nav {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    position: relative;
    border-color: var(--edge-color);
    border-radius: 0;
}

nav #links {
    height: 100%;
    width: 32vw;
    display: flex;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: center;
}

nav .options {
    display: none;
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
}

.options .line {
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

#links a {
    position: relative;
    height: 100%;
    flex: 1;
    font: normal normal 25px "Popins";
    transition: all 0.2s;
    cursor: pointer;
    line-height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

#links a:hover {
    align-items: center;
    transform: scale(1.2);
}

#links a:active {
    color: var(--btn-hover-color);
    transform: scale(0.95);
}

a .icon {
    margin-right: 5px;
}

#login {
    position: absolute;
    right: 2vw;
}

.logined header nav #login {
    display: none;
}

header #dropdown {
    width: 190px;
    background-color: var(--dropdown-color);
    position: absolute;
    right: 1vw;
    top: var(--navbar-height);
    border-radius: 5px;
    border: 1px solid var(--edge-color);
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.logined header nav #dropdown {
    display: block;
}

.logined header.show-toggler #dropdown {
    opacity: 1;
    transform: scale(1.0);
    pointer-events: all;
}

#dropdown .switcher {
    display: none;
}

#dropdown div a {
    font-size: var(--label-font-size);
    color: var(--btn-text-color);
    display: flex;
    align-items: center;
    height: var(--label-height);
    text-align: left;
    padding-left: 15px;
    white-space: nowrap;
    cursor: pointer;
}
#dropdown div a:hover {
    background-color: var(--btn-hover-color);
}

#dropdown div a:active {
    background-color: var(--btn-activate-color);
}

#dropdown div a.logout {
    color: var(--alert-color);
}

.logout svg path {
    fill: var(--alert-color);
}

.userinfo {
    display: none;
    align-items: center;
    position: absolute;
    right: 4vw;
    transition: all 0.2s ease-in-out;
    color: var(--btn-text-color);
    cursor: pointer;
}

.logined header nav .userinfo {
    display: flex;
}

.userinfo svg {
    width: calc(var(--icon-size) + 5px);
    height: calc(var(--icon-size) + 5px);
}

.userinfo:hover {
    transform: scale(1.2);
}

.userinfo:active {
    color: var(--btn-hover-color);
    transform: scale(0.95);
}


@media (max-width: 800px) {
    header nav {
        height: var(--navbar-height);
        position: fixed;
        z-index: 2;
    }
    nav #links {
        display: none;
    }
    .logined header nav .options {
        display: block;
    }
    .show-toggler nav .options .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    .show-toggler nav .options .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    .show-toggler nav .options .line:nth-child(2) {
        opacity: 0;
    }
    .logined header nav .userinfo {
        display: none;
    }
    header #dropdown {
        position: fixed;
        right: 0;
    }
    #dropdown .switcher{
        display: block;
    }
}

