.box {
  width: 59px;
  height: 59px;
  background-color: var(--preloader-bg);
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box .loader {
  width: 45px;
  height: 40px;
  margin: 12px auto;
  background: linear-gradient(var(--preloader-color) calc(1*100%/6),var(--preloader-bg) 0 calc(3*100%/6),var(--preloader-color) 0),
            linear-gradient(var(--preloader-color) calc(2*100%/6),var(--preloader-bg) 0 calc(4*100%/6),var(--preloader-color) 0),
            linear-gradient(var(--preloader-color) calc(3*100%/6),var(--preloader-bg) 0 calc(5*100%/6),var(--preloader-color) 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}
    